@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");
html,
body,
div,
h1, h2, h3, h4, h5, h6,
ul,
p,
a,
video {
  margin: 0;
  padding: 0; }

*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300; }

.container {
  height: 100%;
  max-width: 1024px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px; }

.hidden {
  display: none; }

.show-type {
  display: block;
  width: 200px;
  margin: 15px auto;
  border: 1px solid #979797;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #737373;
  font-weight: 400;
  overflow: hidden; }
  .show-type__item {
    display: inline-block;
    width: 49%;
    padding: 2px 10px;
    text-align: center;
    font-size: 14px; }
    .show-type__item:not(:last-child) {
      border-right: 1px solid #979797; }
    .show-type__item--current {
      background-color: #979797;
      color: #fff; }

.list__item {
  margin: 0 20px; }

.section__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 5vh; }

.section__title {
  font-size: 32px;
  margin: 10px 0; }

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 999; }
  .header__nav {
    height: 100%;
    width: 100%; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav__logo {
    font-weight: bold; }
  .nav__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    list-style: none; }
  .nav__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
    color: #737373; }
  .nav__icon {
    display: inline-block; }
    .nav__icon svg {
      display: block;
      height: 15px;
      width: 15px;
      fill: #737373; }
    .nav__icon__graduation-cap svg {
      height: 20px;
      width: 20px; }
    .nav__icon__envelope svg {
      height: 14px;
      width: 14px; }
  .nav__text {
    display: none; }
    @media (min-width: 768px) {
      .nav__text {
        display: inline-block;
        font-size: 15px;
        margin-left: 5px; } }

.intro {
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), color-stop(50%, #f1f1f1), to(#e6e6e6));
  background: linear-gradient(to right, #fafafa 0%, #f1f1f1 50%, #e6e6e6 100%); }
  .intro__container {
    position: relative; }
  .intro__text {
    position: absolute;
    bottom: 35vh; }
  .intro__name {
    font-size: 52px;
    line-height: 48px; }
    @media (min-width: 425px) {
      .intro__name {
        font-size: 72px;
        line-height: 66px; } }
    @media (min-width: 1024px) {
      .intro__name {
        font-size: 92px;
        line-height: 80px; } }
  .intro__description {
    font-size: 28px; }
    @media (min-width: 425px) {
      .intro__description {
        font-size: 36px; } }
  .intro__photo {
    position: absolute;
    bottom: 0;
    left: 35%;
    height: 350px; }
    @media (min-width: 425px) {
      .intro__photo {
        height: 500px; } }

.photo__asset {
  height: 350px; }
  @media (min-width: 425px) {
    .photo__asset {
      height: 500px; } }

.description {
  padding-top: 30px; }
  .description__item {
    list-style-type: none; }
    .description__item::before {
      content: '–';
      margin-right: 5px; }

.name--main {
  color: #222; }

.name--secondary {
  color: #737373; }

.name__last {
  padding-left: 50px; }

.intro.active .photo__asset {
  -webkit-transform: translateY(100vh);
  -ms-transform: translateY(100vh);
  transform: translateY(100vh);
  opacity: 0;
  -webkit-animation: showPhoto 1s ease-in-out forwards;
  animation: showPhoto 1s ease-in-out forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.intro.active .intro__name {
  -webkit-transform: translateX(-100vh);
  -ms-transform: translateX(-100vh);
  transform: translateX(-100vh);
  -webkit-animation: showText 1s ease-in-out forwards;
  animation: showText 1s ease-in-out forwards;
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.intro.active .intro__description {
  -webkit-transform: translateX(-100vh);
  -ms-transform: translateX(-100vh);
  transform: translateX(-100vh);
  -webkit-animation: showText 1s ease-in-out forwards;
  animation: showText 1s ease-in-out forwards;
  -webkit-animation-delay: .7s;
  animation-delay: .7s; }

@-webkit-keyframes showPhoto {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 100; } }

@keyframes showPhoto {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 100; } }

@-webkit-keyframes showText {
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes showText {
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.about {
  background: #f1f1f1;
  -webkit-animation: init_bg .5s ease-in;
  animation: init_bg .5s ease-in;
  color: #efdab9; }
  .about__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    padding-bottom: 5vh; }
  .about__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    height: 17vh;
    width: 17vh;
    max-height: 140px;
    max-width: 140px;
    font-size: 14px;
    text-align: center;
    background-color: #8d8273;
    border: 1px solid gray;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
    @media (min-width: 768px) {
      .about__item {
        font-size: 16px; } }
    .about__item__icon svg {
      width: 15px;
      height: 15px;
      fill: #efdab9; }
    .about__item__main {
      font-weight: 400;
      font-size: 1.05em;
      padding-bottom: 5px; }
  .about__from {
    bottom: -25vh;
    left: 0;
    -webkit-animation: move_from 10s alternate ease-in-out infinite;
    animation: move_from 10s alternate ease-in-out infinite; }
  .about__born {
    bottom: -10vh;
    left: -55%;
    -webkit-animation: move_born 3s alternate ease-in-out infinite;
    animation: move_born 3s alternate ease-in-out infinite; }
  .about__play {
    top: -15vh;
    left: -30%;
    -webkit-animation: move_play 8s alternate ease-in-out infinite;
    animation: move_play 8s alternate ease-in-out infinite; }
  .about__love {
    top: -12vh;
    right: -50%;
    -webkit-animation: move_love 7s alternate ease-in-out infinite;
    animation: move_love 7s alternate ease-in-out infinite; }
  .about__listen {
    bottom: -20vh;
    right: -35%;
    -webkit-animation: move_listen 8s alternate ease-in-out infinite;
    animation: move_listen 8s alternate ease-in-out infinite; }
  .about__passion {
    top: -25vh;
    right: 0;
    -webkit-animation: move_passion 8s alternate ease-in-out infinite;
    animation: move_passion 8s alternate ease-in-out infinite; }

.about-alex__wrapper {
  position: relative;
  height: 30vh;
  width: 30vh;
  max-height: 370px;
  max-width: 370px;
  border: 1px solid gray;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #8d8273; }

.about__alex {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%; }
  .about__alex__text {
    text-align: center;
    font-size: 25px; }
    @media (min-width: 768px) {
      .about__alex__text {
        font-size: 30px; } }
  .about__alex__rot svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: -webkit-calc(30vh + 30px);
    height: calc(30vh + 30px);
    width: -webkit-calc(30vh + 30px);
    width: calc(30vh + 30px);
    max-height: -webkit-calc(350px + 30px);
    max-height: calc(350px + 30px);
    max-width: -webkit-calc(350px + 30px);
    max-width: calc(350px + 30px); }
    .about__alex__rot svg circle {
      stroke-dasharray: 40% 15% 25% 20% 30% 10%;
      stroke-width: 5px;
      stroke: #8d8273;
      fill: none;
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transform-style: preserve-3D;
      transform-style: preserve-3D;
      -webkit-animation: rotate 80s infinite linear;
      animation: rotate 80s infinite linear; }

.about.active {
  -webkit-animation: chabge_about_bg 2.5s ease-in forwards;
  animation: chabge_about_bg 2.5s ease-in forwards;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes move_from {
  from {
    -webkit-transform: translate(-20%, -10%);
    transform: translate(-20%, -10%); }
  to {
    -webkit-transform: translate(20%, 10%);
    transform: translate(20%, 10%); } }

@keyframes move_from {
  from {
    -webkit-transform: translate(-20%, -10%);
    transform: translate(-20%, -10%); }
  to {
    -webkit-transform: translate(20%, 10%);
    transform: translate(20%, 10%); } }

@-webkit-keyframes move_play {
  from {
    -webkit-transform: translate(-10%, 5%);
    transform: translate(-10%, 5%); }
  to {
    -webkit-transform: translate(20%, -20%);
    transform: translate(20%, -20%); } }

@keyframes move_play {
  from {
    -webkit-transform: translate(-10%, 5%);
    transform: translate(-10%, 5%); }
  to {
    -webkit-transform: translate(20%, -20%);
    transform: translate(20%, -20%); } }

@-webkit-keyframes move_born {
  from {
    -webkit-transform: translate(0, -10%);
    transform: translate(0, -10%); }
  to {
    -webkit-transform: translate(10%, -5%);
    transform: translate(10%, -5%); } }

@keyframes move_born {
  from {
    -webkit-transform: translate(0, -10%);
    transform: translate(0, -10%); }
  to {
    -webkit-transform: translate(10%, -5%);
    transform: translate(10%, -5%); } }

@-webkit-keyframes move_love {
  from {
    -webkit-transform: translate(0, -5%);
    transform: translate(0, -5%); }
  to {
    -webkit-transform: translate(5%, 20%);
    transform: translate(5%, 20%); } }

@keyframes move_love {
  from {
    -webkit-transform: translate(0, -5%);
    transform: translate(0, -5%); }
  to {
    -webkit-transform: translate(5%, 20%);
    transform: translate(5%, 20%); } }

@-webkit-keyframes move_listen {
  from {
    -webkit-transform: translate(-30%, 0);
    transform: translate(-30%, 0); }
  to {
    -webkit-transform: translate(25%, -20%);
    transform: translate(25%, -20%); } }

@keyframes move_listen {
  from {
    -webkit-transform: translate(-30%, 0);
    transform: translate(-30%, 0); }
  to {
    -webkit-transform: translate(25%, -20%);
    transform: translate(25%, -20%); } }

@-webkit-keyframes move_passion {
  from {
    -webkit-transform: translate(-30%, -10%);
    transform: translate(-30%, -10%); }
  to {
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%); } }

@keyframes move_passion {
  from {
    -webkit-transform: translate(-30%, -10%);
    transform: translate(-30%, -10%); }
  to {
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%); } }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes chabge_about_bg {
  5% {
    background: #f1f1f1; }
  100% {
    background: #323031; } }

@keyframes chabge_about_bg {
  5% {
    background: #f1f1f1; }
  100% {
    background: #323031; } }

@-webkit-keyframes init_bg {
  0% {
    background: #323031; }
  100% {
    background: #f1f1f1; } }

@keyframes init_bg {
  0% {
    background: #323031; }
  100% {
    background: #f1f1f1; } }

.skills {
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), color-stop(50%, #f1f1f1), to(#e6e6e6));
  background: linear-gradient(to right, #fafafa 0%, #f1f1f1 50%, #e6e6e6 100%); }
  .skills__category {
    max-width: 600px; }
    .skills__category__title {
      font-size: 20px;
      margin: 10px 0; }
  .skills .skill {
    display: inline-block;
    margin: 4px;
    padding: 2px 8px;
    border: 1px solid #979797;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    background-color: #979797;
    color: #fff; }
    .skills .skill__name {
      font-size: 15px;
      padding: 0 3px;
      font-weight: 400; }
      @media (min-width: 1024px) {
        .skills .skill__name {
          font-size: 17px; } }
    .skills .skill__desc {
      font-size: 13px; }
      @media (min-width: 1024px) {
        .skills .skill__desc {
          font-size: 15px; } }

.skills.active .skills__title {
  opacity: 0;
  -webkit-animation: appear 1s ease-in-out forwards;
  animation: appear 1s ease-in-out forwards; }

.skills.active .skills__category {
  opacity: 0;
  -webkit-animation: appear 1s ease-in-out forwards;
  animation: appear 1s ease-in-out forwards; }
  .skills.active .skills__category:nth-child(1) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s; }
  .skills.active .skills__category:nth-child(2) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  .skills.active .skills__category:nth-child(3) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s; }
  .skills.active .skills__category:nth-child(4) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }

@-webkit-keyframes appear {
  to {
    opacity: 100; } }

@keyframes appear {
  to {
    opacity: 100; } }

.edu_exp {
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), color-stop(50%, #f1f1f1), to(#e6e6e6));
  background: linear-gradient(to right, #fafafa 0%, #f1f1f1 50%, #e6e6e6 100%); }
  .edu_exp__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .edu_exp__title {
    margin: 25px 10px;
    font-size: 27px; }

.edu, .exp {
  width: 300px; }

.place__position {
  font-weight: 400; }

.place__respons {
  font-size: 15px; }
  .place__respons::before {
    content: '-';
    padding-right: 5px; }

.respons__list {
  font-size: 14px;
  padding-left: 20px;
  list-style: none; }

.respons__item::before {
  content: '•';
  padding-right: 10px;
  color: #737373; }

.story {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  height: 50px;
  margin-left: 50px;
  font-size: 16px; }
  .story__main {
    padding-left: 30px; }
  .story__line {
    position: absolute;
    width: 6px; }
    .story__line svg line, .story__line svg path {
      fill: none;
      stroke-width: 2;
      stroke: #737373; }
    .story__line svg path {
      stroke-dasharray: 4 2; }
  .story__point {
    position: absolute;
    display: inline-block;
    width: 7px;
    height: 7px; }
    .story__point svg circle {
      fill: #737373; }
    .story__point::before {
      position: absolute;
      top: -5px;
      left: -50px;
      font-size: 14px;
      width: 50px;
      text-align: center; }
  .story__kpi {
    height: 80px; }
  .story__wt {
    height: 90px;
    margin-left: 80px; }
  .story__kneu {
    height: 140px; }
  .story__java {
    position: absolute;
    top: 15%;
    left: 10px;
    font-size: 15px; }
  .story__nerdify {
    height: 80px; }
  .story__livres {
    height: 110px; }
  .story__goodwin {
    height: 160px; }
  .story__freelance {
    height: 190px; }

.point__begin {
  top: 0; }

.point__end {
  bottom: 0; }

.point__2012::before {
  content: '2012'; }

.point__2014::before {
  content: '2014'; }

.point__wt {
  width: 15px;
  height: 15px;
  left: -5px; }
  .point__wt svg {
    width: 15px;
    height: 15px;
    fill: #737373;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg); }
  .point__wt::before {
    content: 'Summer 2014';
    top: -12px;
    left: -55px; }

.point__2017::before {
  content: '2017'; }

.point__java {
  top: 30%; }
  .point__java::before {
    content: '2015'; }

.point__2016-sep::before {
  content: 'Sep 2016'; }

.point__2016-nov::before {
  content: 'Nov 2016'; }

.point__2017-mar::before {
  content: 'Mar 2017'; }

.point__2018-apr::before {
  content: 'Apr 2018'; }

.line__2012-2014 {
  height: 80px; }

.line__2014-wt {
  bottom: -40px;
  height: 45px; }

.line__wt-2014 {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  bottom: 0;
  height: 45px; }

.line__2014-2017 {
  height: 135px; }

.line__2016-sep--2016-nov {
  height: 80px; }

.line__2016-nov--2017-mar {
  height: 110px; }

.line__2017-mar--2018-apr {
  height: 160px; }
  .line__2017-mar--2018-apr svg {
    height: 160px; }

.line__2018-apr--undef {
  height: 190px; }
  .line__2018-apr--undef svg {
    height: 190px; }

.exp__point::before {
  left: -55px; }

.edu_exp.active .story__container {
  -webkit-animation: show_up 2.5s ease-in-out forwards;
  animation: show_up 2.5s ease-in-out forwards; }

@-webkit-keyframes show_up {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

@keyframes show_up {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 10%; }
  20% {
    background-position: 10% 0%; }
  70% {
    background-position: 100% 90%; }
  100% {
    background-position: 90% 100%; } }

@keyframes gradient {
  0% {
    background-position: 0% 10%; }
  20% {
    background-position: 10% 0%; }
  70% {
    background-position: 100% 90%; }
  100% {
    background-position: 90% 100%; } }

.contact {
  background: linear-gradient(123deg, #4597fc 0%, #913ba2 15%, #fd351d 40%, #ff7647 50%, #fd221d 60%, #95369d 80%, #4597fc 100%);
  background-size: 330% 330%;
  color: white; }
  .contact__container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .contact__type {
    margin: 10px 0; }
  .contact__email {
    font-size: 22px; }
    @media (min-width: 1024px) {
      .contact__email {
        font-size: 25px; } }

.contact.active {
  -webkit-animation: gradient 15s ease-in-out alternate infinite;
  animation: gradient 15s ease-in-out alternate infinite; }

.social__item {
  display: inline-block;
  padding: 5px;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  text-decoration: none; }
  @media (min-width: 1024px) {
    .social__item {
      height: 50px;
      width: 50px; } }
  .social__item svg {
    height: 30px;
    width: 30px;
    fill: white; }
    @media (min-width: 1024px) {
      .social__item svg {
        height: 40px;
        width: 40px; } }

.social__mobile {
  display: inline-block; }
  @media (min-width: 1024px) {
    .social__mobile {
      display: none; } }

.social__desktop {
  display: none; }
  @media (min-width: 1024px) {
    .social__desktop {
      display: inline-block; } }

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding: 0 20px;
  background-color: #979797;
  font-size: 15px; }
